<!DOCTYPE html>
<html lang="en">

<head>
    <title>Links-192.168.1.88</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="mx-auto">
                        <h1 class="text-center">Login</h1>
                        <div class="my-1">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" aria-describedby="email"
                                placeholder="Enter email address" required>
                        </div>
                        <div>
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Enter password"
                                required>
                        </div>
                        <div class="row g-3 my-1">
                            <div class="col-5">
                                <a
                                    class="my-1 link-primary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Register</a>
                            </div>
                            <div class="col-7">
                                <!-- <button type="submit" class="btn btn-success w-25">Login</button> -->
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    <button type="submit" class="btn btn-success w-25">Login</button>

                </div>
            </div>
        </div>
    </div>
    <script src="static/js/bootstrap.bundle.min.js"></script>
</body>