<!DOCTYPE html>
<html lang="en">

<head>
    <title>Links-192.168.1.64</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='/img/favicon-16x16.png') }}">
</head>
<body>
<div class="modal fade" id="linkPasswordModal" tabindex="-1" aria-labelledby="linkPasswordModal" aria-hidden="true"
     data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-center" id="linkPasswordModal">{% if link_id is not none %}Link password{% else %}Warning{% endif %}</h1>
            </div>
            <form action="/links/check_password" method="post">
                <div class="modal-body">
                    <p class="text-center text-danger">{{ error_message }}</p>
                    {% if link_id is not none %}
                    <div class="form-floating">
                        <input type="password" class="form-control" id="password" name="password" placeholder=""
                               required>
                        <label for="floatingPassword">Password</label>
                    </div>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    {% if link_id is not none %}
                    <button type="submit" id="id" name="id" value="{{ link_id }}" class="btn btn-success">Enter</button>
                    {% else %}
                    <a class="btn btn-success" type="button" href="{{ url }}">Return</a>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
<script>
    $(document).ready(function () {
        $("#linkPasswordModal").modal('show');
    });
</script>
</body>
</html>