<!DOCTYPE html>
<html lang="en">
<head>
    <title>Links-192.168.1.88</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">

</head>
<body>
<nav class="navbar navbar-expand-xxl navbar-dark bg-success">
    <div class="container">
        <a class="navbar-brand" href="#">192.168.1.88</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Links</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <img src=".{{ url_for('static', filename='img/user-128.png') }} "
                             alt="Avatar logo" class="rounded-circle" style="height: 25px; width: 25px;">
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">abcd</a></li>
                        <li><a class="dropdown-item" href="#">abcd</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--<form>-->
    <div class=" container mx-auto my-auto btn-group-sm">
        <input type="url" class="form-control-lg" placeholder="Enter a link to shorten it" aria-label="Shorten">
        <button class="btn btn-success btn-lg" type="submit">Shorten</button>
    </div>
<!--</form>-->

<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
